/* You can add global styles to this file, and also import other style files */

:root{
  --corFundo: #01290d;
  --corCard: #deffde;
  --branco: #fff;


}


html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--corFundo);
}

.espacamento{
  margin-top: 1rem;
}

.espacamentoG{
  margin-top: 20rem;
}

.dashboard-container {
  padding: 20px;
}

.card{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: var(--corCard);
  width: 100%;
}

h2 {
  text-align: center;
}

.badge {
  margin-left: 10px;
  font-size: 0.9em;
  font-weight: normal;
}

mat-card.matCard {
  background-color: var(--corCard) !important;
}

mat-card-title {
  text-align: center;
}

.partida {
  background-color: var(--branco);
  width: 40%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

.alinhar {
  display: flex;
  justify-content: center;
  align-items: center;
}
