/* You can add global styles to this file, and also import other style files */

:root{
  --corFundo: #01290d;
  --corCard: #e3dbf7;
  --branco: #fff;
  --preto: #000;
  --azulEscuro: #001f3f;
  --vermelhoEscuro: #3f0000;

  --cartaoAmarelo: #e6b800;
  --cartaoVermelho: #d42000;

  --g1: #2b39ff;
  --g2: #ff4a2b;


}


html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--corFundo);
}

.espacamento{
  margin-top: 1rem;
}

.espacamentoG{
  margin-top: 20rem;
}

.dashboard-container {
  padding: 20px;
}

.card{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: var(--branco);
}

.menor {
  width: 50%;
  margin-left: 25%;
}

.maior {
  width: 90%;
  margin-left: 5%;
}

h2 {
  text-align: center;
}

.badge {
  margin-left: 10px;
  font-size: 0.9em;
  font-weight: normal;
}

mat-card.matCard {
  background-color: var(--corCard) !important;
}

mat-card-title {
  text-align: center;
}

.partidas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partida {
  background-color: var(--branco);
  width: 340px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  border: 3px solid var(--azulEscuro);

  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;

  h3 {
    text-align: center;
  }
  p {
    text-align: center;
  }

  //mudar a cor ao passar o mouse
  &:hover {
    background-color: var(--corCard);
    color: var(--corFundo);
  }
}


.alinhar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alinharCartao {
  display: flex;
  justify-content: left;
  align-items: start;
}

.alinharSubst {
  display: flex;
  justify-content: left;
  align-items: start;
}

table {
  width: 100%; /* Para garantir que a tabela ocupe todo o espaço disponível */
  border-collapse: collapse; /* Para remover espaçamentos entre as células */

  th, td {
    padding: 8px; /* Ajuste o padding das células */
    text-align: left; /* Alinhamento à esquerda */
    border: 1px solid var(--preto); /* Adiciona uma borda às células */
  }

  th {
    background-color: var(--corFundo); /* Usar a cor de fundo definida */
    color: var(--azulEscuro); /* Usar a cor branca para o texto do cabeçalho */
    font-weight: bold; /* Deixa o texto do cabeçalho em negrito */
  }

  td {
    background-color: var(--corCard); /* Usar a cor do card para as células */
    color: var(--preto) /* Cor do texto das células */
  }

  /* Adicionando estilos para o hover nas linhas */
  tr:hover {
    background-color: var(--corCard)
  }
}


.estatisticas-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 2px solid #ccc;
  padding-top: 10px;
}

.left {
  text-align: center;
  margin-right: 10px !important;
  margin-top: 10px !important;
  justify-content: center;
}

.right {
  text-align: center;
  margin-left: 10px !important;
  margin-top: 10px !important;
}

.estat {
  margin-bottom: 10px;
}

.estat-title {
  text-align: center;
  margin: 0;
}

.estat-values {
  display: flex;
  justify-content: center;
  // diminuir espaço entre os valores
  margin-top: 5px;
  margin: 0;
}

h4 {
  margin: 5px 0;
}

.barraVertical {
  color: var(--preto);
  height: 100%;
  margin-top: 0;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--azulEscuro);
}

.info-value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p40 {
  width: 40%;
}
.p50 {
  width: 50%;
}
.p60 {
  width: 60%;
}

.header, .body {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.col {
  display: flex;
  align-items: center;
  flex: 1; /* Permite que cada coluna ocupe o mesmo espaço */
  padding: 8px;
  border-bottom: 1px solid #ddd; /* Linha entre as entradas */
}

.header .col {
  font-weight: bold; /* Destaca o cabeçalho */
  background-color: #f2f2f2; /* Fundo diferente para o cabeçalho */
}


.grafico {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.two-column-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px; /* Ajuste o espaçamento entre as colunas conforme necessário */
}

.cartaoAmarelo {
  width: 15px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: var(--cartaoAmarelo);
}

.cartaoVermelho {
  width: 15px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: var(--cartaoVermelho);
}

.seta {
  font-size: 16px;
  margin: -12px -10px;
}

.textoVermelho {
  color: var(--cartaoVermelho);
}

.textoAzul {
  color: var(--g1);
}

.gap {
  margin-left: 10px;
  margin-right: 10px;
}

.escudoMini {
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.divEscudoMini {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;

}
