.info-partida-container {
  padding: 20px;
}

mat-card {
  margin-bottom: 20px;
}

.yellow-card {
  color: #ffc107; /* Cor do cartão amarelo */
}

.red-card {
  color: #dc3545; /* Cor do cartão vermelho */
}

.substitute {
  color: #17a2b8; /* Cor para jogadores substituídos */
}

.injured {
  color: #6c757d; /* Cor para jogadores machucados */
}
