<!-- <button (click)="atualizaDados()"
	mat-raised-button
	color="primary">
	Buscar Dados
</button> -->

<button (click)="voltaMenu()"
	mat-raised-button
	color="primary">
	<mat-icon>
    arrow_back
  </mat-icon>
</button>

<div class="cards-container">
	<div class="card menor dados alinhar">
		<div>
			<img [src]="partida.timeA_escudo"
				class="escudo">
		</div>
    <div class="gap"></div>
		<div>
			<h3 class="info">
				Rodada {{ partida.rodada }}
			</h3>
			<h2 class="info">
				{{ partida.timeA_nome }} {{ partida.golsA }} x {{ partida.golsB }} {{ partida.timeB_nome }}
			</h2>
			<div class="info">
				<h3 class="info-title">Data:</h3>
				<h3 class="info-value">{{ partida.dia }}</h3>
			</div>
			<div class="info">
				<h3 class="info-title">Horário:</h3>
				<h3 class="info-value">
					{{ partida.horario }}
				</h3>
			</div>
			<div class="info">
				<h3 class="info-title">Estádio:</h3>
				<h3 class="info-value">{{ partida.local }}</h3>
			</div>
			<div class="info">
				<h3 class="info-title">Árbitro:</h3>
				<h3 class="info-value">{{ partida.juiz }}</h3>
			</div>
		</div>
    <div class="gap"></div>
		<div>
			<img [src]="partida.timeB_escudo"
				class="escudo">
		</div>
	</div>

	<div class="espacamento"></div>


	<div class="card menor2 dados">
		<h2>Estatísticas:</h2>
	</div>

	<div class="espacamento"></div>
	<div class="card maior dados">
		<div class="two-column-layout">

			<div class="card maior dados">
				<div class="header">
					<div class="col">Gols/Assistências</div>
				</div>
				<div *ngFor="let detalhe of gols"
					class="body">
					<div class="col">
						<div class="alinhar">
              <div class="divEscudoMini">
                <img *ngIf="detalhe.idTime == partida.timeA"
                [src]="partida.timeA_escudo"
                class="escudoMini">
								<img *ngIf="detalhe.idTime == partida.timeB"
                [src]="partida.timeB_escudo"
                class="escudoMini">
							</div>
              <div>{{detalhe.hora}}'</div>
              <div class="gap"></div>
							<div>
								{{ detalhe.nomeJogador1 }}
							</div>
							<div class="gap"></div>
							<div *ngIf="detalhe.idJogador2">
								({{ detalhe.nomeJogador2 }})
							</div>

						</div>
					</div>
				</div>
        <div class="header">
					<div class="col">VAR</div>
				</div>
				<div *ngFor="let detalhe of vars"
					class="body">
					<div class="col">
						<div class="alinhar">
              <div class="divEscudoMini">
                <img *ngIf="detalhe.idTime == partida.timeA"
                [src]="partida.timeA_escudo"
                class="escudoMini">
								<img *ngIf="detalhe.idTime == partida.timeB"
                [src]="partida.timeB_escudo"
                class="escudoMini">
							</div>
              <div>{{detalhe.hora}}'</div>
              <div class="gap"></div>
							<div>
								{{ detalhe.nomeJogador1 }}
							</div>
							<div class="gap"></div>
							<div *ngIf="detalhe.detalheEv">
								({{ detalhe.detalheEv }})
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="card maior dados">
				<div class="header">
					<div class="col">Substituições</div>
				</div>
				<div *ngFor="let detalhe of substituicoes"
					class="body">
					<div class="col">
						<div class="alinharSubst">
              <div class="divEscudoMini">
                <img *ngIf="detalhe.idTime == partida.timeA"
                [src]="partida.timeA_escudo"
                class="escudoMini">
								<img *ngIf="detalhe.idTime == partida.timeB"
                [src]="partida.timeB_escudo"
                class="escudoMini">
							</div>
              <div>{{detalhe.hora}}'</div>
              <div class="gap"></div>
							<div>
								{{tiraSubst(detalhe.detalheEv)}}.
							</div>
							<div class="gap"></div>
							<div class="textoVermelho">
								<mat-icon class="seta">arrow_downward</mat-icon>
								{{ detalhe.nomeJogador1 }}
							</div>
							<div class="gap"></div>
							<div class="textoAzul">
								<mat-icon class="seta">arrow_upward</mat-icon>
								{{ detalhe.nomeJogador2 }}
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="espacamento"></div>
	<div class="card maior dados">
		<div class="two-column-layout">

			<div class="card maior dados">
				<div class="header">
					<div class="col">Cartões</div>
				</div>
				<div *ngFor="let detalhe of cartoes"
					class="body">
					<div *ngIf="detalhe.detalheEv == 'Cartão Amarelo'"
						class="col">
						<div class="alinhar">
							<div class="divEscudoMini">
								<img *ngIf="detalhe.idTime == partida.timeA"
									[src]="partida.timeA_escudo"
									class="escudoMini">
								<img *ngIf="detalhe.idTime == partida.timeB"
									[src]="partida.timeB_escudo"
									class="escudoMini">
							</div>
							<div>{{detalhe.hora}}'</div>
              <div class="gap"></div>
							<div class="cartaoAmarelo"></div>
							<div>{{ detalhe.nomeJogador1 }}</div>
              <div class="gap"></div>
              <div *ngIf="detalhe.comentario!=null"> ({{detalhe.comentario}})</div>
						</div>
					</div>
					<div *ngIf="detalhe.detalheEv == 'Cartão Vermelho'"
						class="col">
						<div class="alinhar">
              <div class="divEscudoMini">
								<img *ngIf="detalhe.idTime == partida.timeA"
									[src]="partida.timeA_escudo"
									class="escudoMini">
								<img *ngIf="detalhe.idTime == partida.timeB"
									[src]="partida.timeB_escudo"
									class="escudoMini">
							</div>
              <div>{{detalhe.hora}}' </div>
              <div class="gap"></div>
							<div class="cartaoVermelho"></div>
							<div>{{ detalhe.nomeJogador1 }}</div>
              <div class="gap"></div>
              <div *ngIf="detalhe.comentario!=null"> ({{detalhe.comentario}})</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card maior dados">
				<apx-chart [title]="chartOptionsBarGroupedCartoes.title"
					[series]="chartOptionsBarGroupedCartoes.series"
					[chart]="chartOptionsBarGroupedCartoes.chart"
					[stroke]="chartOptionsBarGroupedCartoes.stroke"
					[dataLabels]="chartOptionsBarGroupedCartoes.dataLabels"
					[plotOptions]="chartOptionsBarGroupedCartoes.plotOptions"
					[xaxis]="chartOptionsBarGroupedCartoes.xaxis"
					[colors]="chartOptionsBarGroupedCartoes.colors"
					[fill]="chartOptionsBarGroupedCartoes.fill"
					[yaxis]="chartOptionsBarGroupedCartoes.yaxis"
					[legend]="chartOptionsBarGroupedCartoes.legend"></apx-chart>
			</div>

    </div>
  </div>
  <div class="espacamento"></div>
  <div class="card maior dados">
		<div class="two-column-layout">

			<div class="card maior dados">
				<apx-chart [series]="chartOptionsBarChutes.series"
					[chart]="chartOptionsBarChutes.chart"
					[dataLabels]="chartOptionsBarChutes.dataLabels"
					[stroke]="chartOptionsBarChutes.stroke"
					[colors]="chartOptionsBarChutes.colors"
					[title]="chartOptionsBarChutes.title"
					[grid]="chartOptionsBarChutes.grid"
					[tooltip]="chartOptionsBarChutes.tooltip"
					[plotOptions]="chartOptionsBarChutes.plotOptions"
					[yaxis]="chartOptionsBarChutes.yaxis"
					[xaxis]="chartOptionsBarChutes.xaxis"></apx-chart>
			</div>

			<div class="card maior dados">
				<apx-chart [title]="chartOptionsBarGroupedPasses.title"
					[series]="chartOptionsBarGroupedPasses.series"
					[chart]="chartOptionsBarGroupedPasses.chart"
					[stroke]="chartOptionsBarGroupedPasses.stroke"
					[dataLabels]="chartOptionsBarGroupedPasses.dataLabels"
					[plotOptions]="chartOptionsBarGroupedPasses.plotOptions"
					[xaxis]="chartOptionsBarGroupedPasses.xaxis"
					[colors]="chartOptionsBarGroupedPasses.colors"
					[fill]="chartOptionsBarGroupedPasses.fill"
					[yaxis]="chartOptionsBarGroupedPasses.yaxis"
					[legend]="chartOptionsBarGroupedPasses.legend"></apx-chart>
			</div>

    </div>
  </div>
  <div class="espacamento"></div>
  <div class="card maior dados">
		<div class="two-column-layout">

			<div id="chart"
				class="card maior dados">
				<apx-chart [series]="chartOptionsBarGeral.series"
					[chart]="chartOptionsBarGeral.chart"
					[dataLabels]="chartOptionsBarGeral.dataLabels"
					[stroke]="chartOptionsBarGeral.stroke"
					[colors]="chartOptionsBarGeral.colors"
					[title]="chartOptionsBarGeral.title"
					[grid]="chartOptionsBarGeral.grid"
					[tooltip]="chartOptionsBarGeral.tooltip"
					[plotOptions]="chartOptionsBarGeral.plotOptions"
					[yaxis]="chartOptionsBarGeral.yaxis"
					[xaxis]="chartOptionsBarGeral.xaxis"></apx-chart>
			</div>

			<div class="card maior dados">
				<apx-chart [series]="chartOptionsDonut.series"
					[chart]="chartOptionsDonut.chart"
					[labels]="chartOptionsDonut.labels"
					[title]="chartOptionsDonut.title"
					[colors]="chartOptionsDonut.colors"
					[tooltip]="chartOptionsDonut.tooltip"></apx-chart>
			</div>

		</div>
	</div>
</div>
<div class="espacamento">.</div>
